<html>

<head>
 <title>Blog</title>
</head>

<body>
  <div>
    <h1><a href="">Blog</a></hi>
  </div>

  <div>
    <p>published: 2015.10.23, 11:14PM CST</p>
    <h2></h2>
    <p>We've created three div sections here.</p>
    <ul>
      <li>The first div element contains the title of our blog - it's a heading
      and a link</li>
      <li>Another two div elements contain our blogposts with a
      published date, h2 with a post title that is clickable and two ps
      (paragraph) of text, one for the date and one for our blogpost.</li>
    </ul>
    <p>It gives us this effect:</p>
  </div>

<br/>

  <div>
    <p>published: 2015.10.23, 11:14PM CST</p>
    <h2></h2>
    <p>We've created three div sections here.</p>
    <ul>
      <li>The first div element contains the title of our blog - it's a heading
      and a link</li>
      <li>Another two div elements contain our blogposts with a
      published date, h2 with a post title that is clickable and two ps
      (paragraph) of text, one for the date and one for our blogpost.</li>
    </ul>
    <p>It gives us this effect:</p>
  </div>

</body>

</html>
